@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    color: #ccc;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    --main-color: #01c38d;
    --accent-color: #08979d;
}

h1 {
    color: var(--main-color);
    font-size: 2.5rem;
}

nav {
    margin-bottom: 48px;
}

p {
    line-height: 1.4;
}

.wrapper {
    align-items: center;
    background-color: #191e29;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.link-container {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
}

.link-container > a {
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: var(--main-color);
}

.links:first-child {
    margin-left: 0;
}

.links:last-child {
    margin-right: 0;
}

.links {
    margin: 0 1rem;
}

.blinking-text {
    animation: pulse 1s alternate infinite;
    color: var(--main-color);
    text-shadow: rgba(1,195,140,0.8) 10px 10px 21px;
}

.glowing-text {
    color: var(--main-color);
    text-shadow: rgba(1,195,140,0.8) 10px 10px 21px;
}

.stroked {
    color: rgba(255,255,255,0.2);
    text-decoration: line-through;
}

.me {
    margin-top: 1rem;
}

.hire {

}


@keyframes pulse {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
